<form class="main__form form">

  <p class="form__text text">
    Начните зарабатывать на государственном газе!
  </p>

  <fieldset class="form__inputs">
    <label class="input-item">
      <input class="input-item__input" type="text" placeholder="Имя">
    </label>

    <label class="input-item">
      <input class="input-item__input" type="text" placeholder="Фамилия">
    </label>

    <label class="input-item error">
      <input class="input-item__input" type="email" placeholder="Электронная почта">
    </label>

    <label class="input-item input-item-tel">
      <span class="input-item__tel">
        <span class="input-item__icon-tel poland"></span>
        <span class="input-item__code">+48</span>
      </span>
      <input class="input-item__input" type="tel" placeholder="9123 12345">
    </label>
  </fieldset>


  <fieldset class="form__btn">
    <button class="btn">Начать зарабатывать</button>
  </fieldset>

  <fieldset class="form__checks">
    <label class="checkbox-item">
      <input class="checkbox-item__check" type="checkbox" checked="checked">

      <span class="checkbox-item__text">
        Я даю согласие на сбор адреса моей электронной почты в целях получения коммерческих предложений, которые, по
        нашему мнению, будут представлять интерес для вас от имени компаний и отраслей, подробно описанных в наших
        Условиях пользования и Политике конфиденциальности.
      </span>
    </label>
  </fieldset>
</form>
