<section class="marquee">
  <div class="marquee__wrap content">
    <div class="marquee__wrap-overflow">
      <ul class="marquee__list">
        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="./img/people1.jpeg">

            <div class="marquee-item__text">
              <p class="marquee-item__name">B Craig</p>
              <span class="marquee-item__sum">
                <span class="marquee-item__plus">+</span>
                USD 924.00
              </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="./img/people2.jpeg">

            <div class="marquee-item__text">
              <p class="marquee-item__name">H Hicks</p>
              <span class="marquee-item__sum">
                <span class="marquee-item__plus">+</span>
                USD 921.00
              </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="./img/people3.jpeg">

            <div class="marquee-item__text">
              <p class="marquee-item__name"> Z Boyd</p>
              <span class="marquee-item__sum">
                <span class="marquee-item__plus">+</span>
                USD 409.00
              </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="./img/people4.jpeg">

            <div class="marquee-item__text">
              <p class="marquee-item__name"> A Ryan</p>
              <span class="marquee-item__sum">
                <span class="marquee-item__plus">+</span>
                USD 818.00
              </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="./img/people1.jpeg">

            <div class="marquee-item__text">
              <p class="marquee-item__name">B Craig</p>
              <span class="marquee-item__sum">
                <span class="marquee-item__plus">+</span>
                USD 924.00
              </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="./img/people2.jpeg">

            <div class="marquee-item__text">
              <p class="marquee-item__name">A Shaw</p>
              <span class="marquee-item__sum">
                <span class="marquee-item__plus">+</span>
                USD 808.00
              </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="./img/people3.jpeg">

            <div class="marquee-item__text">
              <p class="marquee-item__name">M Fisher</p>
              <span class="marquee-item__sum">
                <span class="marquee-item__plus">+</span>
                USD 221.00
              </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="./img/people4.jpeg">

            <div class="marquee-item__text">
              <p class="marquee-item__name">B Craig</p>
              <span class="marquee-item__sum">
                <span class="marquee-item__plus">+</span>
                USD 924.00
              </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="./img/people1.jpeg">

            <div class="marquee-item__text">
              <p class="marquee-item__name"> R Cole</p>
              <span class="marquee-item__sum">
                <span class="marquee-item__plus">+</span>
                USD 699.00
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
