.about__wrapper {
  display: flex;

  @include media-exsm {
    flex-direction: column;
  }
}

.about__dark-wrap {
  background-color: #2d344e;
  color: #fff;
  padding: 50px;
  margin-right: 30px;

  @include media-exsm {
    margin-right: 0;
  }
}

.about__heading {
  text-align: left;
  padding: 0;
  font-size: 2.25rem;

  @include media-exsm {
    font-size: 18px;
  }
}

.about__pluses {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.about__img {
  width: 80px;
  height: auto;
}

.about__text {
  margin-left: 15px;
  font-weight: 700;
}

.about__blue-wrap {
  background-color: #4890fc;
  padding: 50px 30px;
  height: 100%;
  color: #fff;
}

.about__list {
  list-style-position: inside;
  padding-bottom: 50px;
  font-weight: 700;
}

.about__item {
  padding-top: 40px;
}

.about__item:before {
  content: "—";
  left: -5px;
  font-weight: 700;
}
