.bitcoin {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bitcoin__heading {
  color: #36b100;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.31;
  text-align: center;

  @include media-exsm {
    font-size: 18px;
  }
}
