.comments__time {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  color: #666;
  padding-bottom: 25px;
  border-bottom: 1px solid #b7b7b7;
}


.comments-item__avarat-wrap {
  max-width: 130px;
  width: 100%;
}

.comments-item__avatar {
  max-width: 130px;
  object-fit: cover;
}

.comments-item {
  display: flex;
  align-items: center;


  @include media-exsm {
    flex-direction: column;
  }
}

.comments-item__rating-wrap {
  display: flex;
}

.comments-item__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments__list {
  margin-bottom: 20px;
}

.comments__item {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  padding-top: 20px;
}

.comments-item__star {
  width: 20px;
  height: 20px;
}

.comments-item__text {
  font-size: 16px;
  font-weight: 400;
  color: #6d6d6d;
  text-align: center;
  padding: 5px 20px 0 20px;
}

.comments-item__name {
  font-size: 21px;
  font-weight: 700;
  color: #4267b2;
  padding-bottom: 5px;

  @include media-exsm {
    padding-top: 8px;
  }
}
