.consult {
  padding-bottom: 100px;
}

.consult__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
    gap: 50px;

  @include media-exsm {
    grid-template-columns: 100%;
    gap: 0;
  }
}

.consult__left-wrap {
  padding: 50px 0 50px 0;
}

.consult__heading {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.consult__text-small {
  opacity: .5;
  padding-bottom: 40px;
}

.consult__text {
  padding-bottom: 30px;
}

.consult__img {
  width: 100%;
}
