.contacts-form {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #f9fbfb;
}

.contacts-form__wrap {
  display: flex;

  @include media-exsm {
    display: block;
  }
}

.contacts-form__tite {
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  color: #515956;
}

.contacts-form__form {
  width: 50%;
  border-radius: 2px;
  background-color: #fff;
  padding: 30px 24px;
  border: 1px solid #dfe5ea;

  @include media-exsm {
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 30px;
  }
}

.contacts-form__info {
  width: 50%;

  @include media-exsm {
    width: 100%;
  }
}

.contacts-form__inputs {
  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

.contacts-form__capcha {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.contacts-form__req-text {
  display: flex;
  padding-right: 8px;
}

.contacts-form__req-text-wrap {
  color: $error;
}

.contacts-form__btn-wrap {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.contacts-form__info {
  padding-left: 34px;

  @include media-exsm {
    padding: 0;
  }
}

.contacts-form__adress {
  margin-bottom: 20px;
  color: #515956;
}

.contacts-form__msg {
  margin-bottom: 15px;
}

.contacts-form__cont-item {
  @include active;
  width: 190px;
  height: 42px;
  display: flex;
  align-items: center;
  background-color: #dfe5ea;
  border-radius: 2px;
  padding-left: 16px;
  font-size: 16px;
  color: #006ea9;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.contacts-form__cont-item-ico {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
  margin-right: 10px;
}

.contacts-form__heading {
  font-size: 24px;
  color: #041c44;
  font-weight: 700;
}

.contacts-form__title-wrap {
  display: flex;
  justify-content: space-between;
}
