.crypto {
  background-image: url("../img/kripto.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.crypto__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  height: 50px;
  object-fit: contain;
  background: #054fb67e;
  padding: 15px 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.crypto__coin {
  color: #fff;
  font-weight: bold;
}

.crypto__value {
  color: #ffd046;
  font-size: 16px;
  font-weight: bold;
}
