.desc-text {
  background-color: #26a42a;
  padding: 30px 0;
}

.desc-text__title {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;

  @include media-exsm {
    font-size: 26px;
  }
}

.desc-text__text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 0;
}
