.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;

    @include media-exsm {
      flex-direction: column;
      padding: 5px 15px;
    }
}

.header__logo-wrap {
    display: flex;
    align-items: center;

  @include media-exsm {
    padding-top: 8px;
  }
}

.header__logo {
    height: 60px;
}

.header__text-wrap {
    background-color: red;
    padding: 20px;
}

.header__text {
    font-style: italic;
}

.header__logo-text {
    text-transform: uppercase;
    font-size: 36px;
    color: #69c804;
    padding-left: 10px;
    font-style: italic;
    font-weight: bolder;

    @include media-exsm {
      font-size: 28px;
    }
}
