.input-item {
  display: block;
  position: relative;

  &.required {
    .input-item__title {
      &:after {
        content: '*';
        color: $error;
      }
    }
  }

  &.error {
    .input-item__input {
      border-color: $error;
    }

    span {
      color: $error;
    }
  }
}

.input-item__title {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  color: #515956;
}

.input-item__input {
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #b8b7b7;
  font-size: 15px;
  padding: 6px;
  color: #000000;
}

.input-item__input--area {
  height: 80px;
  padding-top: 8px;
}

.input-item-tel {
  .input-item__input {
    padding-left: 86px;
  }
}

.input-item__tel {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px 0 0 3px;
  width: 78px;
  height: 100%;
  background-color: #eeeeee;
  border-right: 1px solid #b8b7b7;
}

.input-item__icon-tel {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 4px;

  &.ru {
    background-image: url('../img/ru.png');
  }
}

.input-item__code {
  font-size: 13px;
  color: #666;
}

.checkbox-item {
  display: flex;
  line-height: 22px;
}

.checkbox-item__check {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.checkbox-item__text {
  font-size: 8px;
  line-height: 10px;
  color: #000;
  text-align: left;
}

.checkbox-item__link {
  @include active;
  color: #42b983;
  font-size: 12px;
}

.form__btn {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.btn {
  @include active;
  display: inline-block;
  max-width: 355px;
  background-color: #4290fc;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  height: 45px;
  line-height: 45px;
  padding: 0 2.6rem;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;

  @include media-exsm {
    width: 100%;
  }

  @include hover {
    background-color: #2d344e;
  }
}
