.main {
    background-image: url("../img/mainBg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__wrap  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 100%;

    @include media-exsm {
      flex-direction: column;
    }
}

.main__form-wrap {
  flex-grow: 1;
  max-width: 402px;

  @include media-exsm {
  width: 100%;
  margin: auto;
  }
}

.main__bottom-text {
    padding-bottom: 100px;
}

.main__heading-wrap {
  text-align: center;
  margin-bottom: 80px;
}

.main__heading {
  color: #2d344e;
  font-size: 35px;
  font-weight: 900;
}

.main__text {
  color: #2d344e;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.main__video-wrap {
  max-width: 854px;
  width: 70%;
  margin-right: 10px;

  @include media-exsm {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
}

.main__video {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1.8/1;
}
